

div.copyright
	p 

		| &copy; 2016 <i class='fa fa-code'></i> with ♥ by<a href="https://twitter.com/mappingandco"> Mapping & Co. </a>  | Map library: <a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> | BaseMap:  Esri © OpenStreetMap | Geospatial Engine: <a href="http://turfjs.org/" title="Turf: A modular geospatial engine written in JavaScript">Turf</a>   | Data Source: &copy; <a href="http://geoportalgasolineras.es/" title ="Ministerio de Industria, Energía y Turismo"> geoportalgasolineras.es</a>






